﻿<div col-lg-12>
    <div class=" col-lg-12" ng-controller="EditToDoController as editContrl">
        <h4>Edit TODO:</h4>
        <form class="form-horizontal" ng-submit="editContrl.editToDo(editContrl.toDo.id)">
            <div class="form-group">
                <label class="col-lg-2 control-label">Title:</label>
                <div class="col-lg-10">
                    <input ng-model="editContrl.toDo.title" required type="text" class="form-control" placeholder="Title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Summary:</label>
                <div class="col-lg-10">
                    <textarea ng-model="editContrl.toDo.summary" class="form-control" placeholder="Summary"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Status:</label>
                <div class="col-lg-10">
                    <select ng-model="editContrl.toDo.status" required class="form-control">
                        <option value=""></option>
                        <option value="UpComing">Up-Coming</option>
                        <option value="InProgress">In-progress</option>
                        <option value="Done">Done</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Tag:</label>
                <div class="col-lg-10">
                    <ui-select multiple tagging tagging-label="" ng-model="editContrl.toDo.tags" theme="select2" sortable="true" ng-disabled="disabled" style="width: 300px;" title="Choose a color">
                        <ui-select-match placeholder="Select/Add tags">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="tag in editContrl.toDo.tags | filter:$select.search">
                            {{tag}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-lg-12">
                <input type="reset" class="btn-primary active pull-right" value="Reset" />
                <span class="pull-right">OR</span>
                <input type="submit" class="btn-success active pull-right" value="Save" />
            </div>
        </form>
    </div>
</div>